//
//                                                        ▀▀▀▀▀     ▀▀▀▀▀          ▀▀█▀▀
//                                                        ▄▀▀▀▄  ▄  ▄▀▀▀▄  ▄  ▄▀▀▀▄  █  ▄▀▀▀▄
//                                                        █   █  █  █   █  █  █   █  █  █   █
//                                                         ▀▀▀   █   ▀▀▀   █   ▀▀▀   ▀   ▀▀▀
//                                                               █      ▄▄▄█▄▄▄    █   █  
//                                                               ▀      █  █  █     █▄█
//                                                             ▀▀▀▀▀    █  █  █      ▀
//                                                                      ▀  ▀  ▀
//
// ▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄▄

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define Base        0
#define Nav         1
#define Sym         2
#define Fun         3
#define Game        4
#define Gameplus    5

&mt {
    quick-tap-ms = <100>;
    global-quick-tap;
    flavor = "tap-preferred";
    tapping-term-ms = <200>;
};

&lt {
    tapping-term-ms = <240>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <125>;
            global-quick-tap;
            bindings = <&kp>, <&kp>;
        };
    };

    combos { compatible = "zmk,combos"; };

    keymap {
        compatible = "zmk,keymap";

        Base {
            display-name = "Base";
            bindings = <
         &kp Q  &kp W  &kp E             &kp R      &kp T    &kp Y  &kp U          &kp I            &kp O    &kp P
         &kp A  &kp S  &kp D             &kp F      &kp G    &kp H  &kp J          &kp K            &kp L    &kp SEMI
&kp TAB  &kp Z  &kp X  &kp C             &kp V      &kp B    &kp N  &kp M          &kp COMMA        &kp DOT  &kp SLASH  &kp ENTER
                       &kp LEFT_CONTROL  &kp SPACE  &mo 1    &to 2  &kp BACKSPACE  &kp RIGHT_SHIFT
            >;
        };

        nav {
            display-name = "Nav";
            bindings = <
             &kp F13       &kp NUMBER_2  &kp UP_ARROW  &kp NUMBER_7  &kp RA(NUMBER_4)    &kp RA(EQUAL)  &kp LS(NUMBER_7)  &kp LS(NUMBER_8)  &kp LS(NUMBER_9)  &kp LS(EQUAL)
             &kp ESCAPE    &kp LEFT      &kp DOWN      &kp RIGHT     &kp RA(NUMBER_5)    &kp RA(MINUS)  &kp LS(NUMBER_4)  &kp LS(NUMBER_5)  &kp LS(NUMBER_6)  &kp NUMBER_6
&kp LA(TAB)  &kp LEFT_WIN  &kp NUBS      &kp EQUAL     &kp LS(NUBS)  &kp NUMBER_5        &kp MINUS      &kp LS(NUMBER_1)  &kp LS(NUMBER_2)  &kp LS(NUMBER_3)  &kp LS(PERIOD)  &kp ESCAPE
                                         &none         &trans        &to 0               &to 2          &kp DELETE        &kp LS(NUMBER_0)
            >;
        };

        symbole {
            display-name = "Sym";
            bindings = <
                &none  &none  &none  &none   &kp RA(NUMBER_4)    &kp RA(EQUAL)  &none                  &kp NUMBER_1      &kp RA(NUMBER_0)             &kp RA(NUMBER_3)
                &none  &none  &none  &none   &kp RA(NUMBER_5)    &kp RA(MINUS)  &mt NUMBER_8 NUMBER_6  &kp RA(NUMBER_6)  &mt RA(NUMBER_8) LS(PERIOD)  &kp RIGHT_BRACKET
&studio_unlock  &none  &none  &none  &none   &kp NUMBER_5        &kp MINUS      &mt NUMBER_3 NUMBER_4  &kp RA(NUMBER_2)  &kp RA(NUMBER_7)             &kp LEFT_BRACKET   &kp ESCAPE
                              &to 0  &trans  &to 0               &to 3          &trans                 &trans
            >;
        };

        function_key {
            display-name = "fn";
            bindings = <
       &none   &kp F2   &kp F3   &kp F4   &none    &trans  &kp F7  &kp F8  &kp F9  &kp F12
       &kp F5  &kp F6   &kp F7   &kp F8   &none    &trans  &kp F4  &kp F5  &kp F6  &kp F11
&none  &kp F9  &kp F10  &kp F11  &kp F12  &none    &trans  &kp F1  &kp F2  &kp F3  &kp F10  &trans
                        &none    &none    &to 0    &trans  &trans  &trans
            >;
        };
    };
};
